body{
    background-color: rgb(100, 100, 100);
}
.abc{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.cde{
    color: rgb(255, 255, 255);
}
.efg{
    color: rgb(250, 250, 250);
}
.efg > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 16px;

}

header{
    background: black;
    color: white;
    width:40%;
    text-align: center;
    margin: auto;
}

.mission{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 4rem;
}

.reject{
    background-color: rgb(12, 15, 14);
    width: 25%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    
}
h1{
    color: white;
    text-align: center;

}

.team-members{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    
}

.members{
    width: 25%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.members > img{
    width: 50%;
    height: auto;
    filter: grayscale(20%);
    
}
.members > img:hover{
    filter: grayscale(50%)
}



