

body{
    background-color: rgb(4, 58, 44);
}
.tembea{
    color: rgb(255, 255, 255);
}
.navlinks{
    color: rgb(250, 250, 250);
}

.navlinks > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 16px;
}



.hero{
    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;

}
.hero img{
    width: 100%;
    height: 90vh;
    object-fit: cover;
    display: block;

}
.hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(240, 238, 218);
}



.hero-content h1{
    font-size: 70px;
    margin: 0;
    color: rgb(16, 88, 61);
}

.hero-content p{
    margin: auto;
    font: bolder;
    font-size: 20px;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: left;

}

